name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      # Uruchomienie budowania APK
      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action-v1@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: master

      # Wrzucenie gotowego pliku, żebyś mógł go pobrać
      - name: Upload artifacts
        uses: actions/upload-artifact@v2
        with:
          name: package
          path: bin/*.apk
